/*=== General CSS reset ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*=== REM reference ===*/
html {
    font-size: 62.5%;
}

/*=== Body ===*/
body {
    width: 100%;
    background-color: #fcf0f9;
}

/*=== Header ===*/
.header {
    width: 100%;
    height: auto;

    background-color: #DA1F81;

    display: flex;
    /* current main-axis */
    flex-direction: row;
    /* main-axis */
    justify-content: center;

    font-size: 5rem;
    color: #FCF0F9;
}

/*=== Main content ===*/
.main-content {
    display: flex;
    /* current main-axis */
    flex-direction: row;
    /* main-axis */
    justify-content: center;
}

/*=== Formulary ===*/
.formulary {
    width: 115rem;
    height: 233rem;

    margin: 7rem 18rem 6.9rem 18rem;
    border-radius: 25px;

    background-color: #DA1F81;

    display: flex;
    /* current main-axis */
    flex-direction: column;
    /* main-axis ("start"? flex-start?) */
    justify-content: start;
    /* cross-axis */
    align-items: center;

    color: #FCF0F9;
}

/*=== Personal data ===*/
.personal-data {
    width: 105rem;
    height: auto;
    border: none;

    margin-bottom: 38.7px;

    display: flex;
    /* current main-axis */
    flex-direction: column;
    /* cross-axis */
    align-items: center;
}

/*=== Fieldset title ===*/
.legend-1 {
    margin-bottom: 2.64rem;
    padding: 6rem 0 0 3rem;

    font-size: 7rem;
    font-weight: bold;
}

/*== Personal data general settings ===*/
.personal-data div {
    width: 98rem;
    height: auto;

    display: flex;
    /* current main-axis */
    flex-direction: column;
}

/*===Full Name===*/

/* General settings */
.full-name {
    font-size: 4.5rem;
}

/* Input title */
.full-name label {
    margin-bottom: 1.404rem;

    cursor: pointer;
}

/* Input settings */
.full-name input {
    height: 5.113rem;
    padding: 1.3rem 0 1.5rem 1.5rem;
    border-radius: 25px;
    border: none;

    font-size: 3.2rem;
}

/*===CPF===*/

/* General settings */
.cpf {
    margin-top: 0.902rem;

    font-size: 4.5rem;
}

/* Input title */
.cpf label {
    margin-bottom: 1.404rem;

    cursor: pointer;
}

/* Input settings */
.cpf input {
    height: 5.113rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 25px;
    border: none;

    font-size: 3.2rem;
}

/*=== Birth data ===*/

/* General settings */
.birth-data {
    margin-top: 0.902rem;

    font-size: 4.5rem;
}

/* Label settings */
.birth-data label {
    margin-bottom: 1rem;

    cursor: pointer;
}

/* Input settings */
.birth-data input {
    height: 5.113rem;
    padding: 0 1.5rem 0 1.5rem;
    border-radius: 25px;
    border: none;

    /*Definições da fonte*/
    font-size: 3rem;
}

/* Off-focus settings */
/* Text color */
.data-nascimento input {
    color: grey;
}

/* Calendar icon color */
.data-nascimento input::-webkit-calendar-picker-indicator {
    opacity: 0.5;
}

/* Off-focus settings */
/* Text color */
.data-nascimento input:focus {
    color: black;
}

/* Calendar icon color */
.data-nascimento input:focus::-webkit-calendar-picker-indicator {
    opacity: 1.0;
}

/*===CONTACT===*/

/* Contact Fieldset */
.contact {
    width: 105rem;
    height: auto;

    border: none;
    margin-bottom: 4.626rem;

    display: flex;
    /* current main-axis */
    flex-direction: column;
    /* cross-axis */
    align-items: center;
}

/* Fieldset title */
.legend-2 {
    padding: 0 0 0 3rem;

    font-size: 7rem;
    font-weight: bold;
}

/*=== Paragraphs ===*/

/* General settings */
.contact div {
    display: flex;
    /* current main-axis */
    flex-direction: column;

    width: 98rem;
    height: auto;
}

/*=== Phone ===*/

/* General settings */
.phone {
    margin-top: 2.5rem;
    font-size: 4.5rem;
}

/* Input title */
.phone label {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

/* Input settings */
.phone input {
    height: 5.113rem;
    padding: 1.5rem 0 1.8rem 1.5rem;
    border-radius: 25px;
    border: none;
    font-size: 3.2rem;
}

/*=== Phone 2 ===*/

/* General settings */
.phone-2 {
    margin-top: 4.111rem;
    font-size: 4.5rem;
}

/* Input title */
.phone-2 label {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

/* Input settings */
.phone-2 input {
    height: 5.113rem;
    padding: 1.5rem 0 1.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== E-mail ===*/

/* General settings */
.email {
    margin-top: 3.409rem;
}

/* Input title */
.email label {
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
}

/* Input settings */
.email input {
    height: 5.113rem;
    padding: 1.5rem 0 1.8rem 1.5rem;
    border-radius: 25px;
    border: none;
    font-size: 3.2rem;
}

/*=== Adress ===*/

/* General settings */
.adress {
    width: 105rem;
    height: auto;
    border: none;
    margin-bottom: 4.173rem;

    display: flex;
    /* current main-axis */
    flex-direction: column;
    /* cross-axis */
    align-items: center;
}

/* Fieldset title */
.legend-3 {
    margin: 0 0 0 3rem;

    font-size: 7rem;
    font-weight: bold;
}

/*=== Paragraphs duos  ===*/
.duos {
    width: 98rem;
    height: auto;
    
    display: flex;
    /* current main-axis */
    flex-direction: row;
    /* main-axis */
    justify-content: center;
    gap: 1.104rem; 
}

/* Duos visual identification */
.duo-a {
    margin-top: 0.8rem;
}

.duo-b {
    margin-top: 0.474rem;
}

.dupla-c {
    margin-top: 0.474rem;
}

/*=== Divs ===*/

/* General settings */
.adress .duos div {
    width: 49rem;

    display: flex;
    /* current main-axis */ 
    flex-direction: column;
}

/*=== CEP ===*/ /* AQUI */
.adress .duo-a .cep {
    font-size: 4.5rem;
}

.adress .duo-a .cep label {
    cursor: pointer;
}

.adress .duo-a .cep input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== House number ===*/
.adress .duo-a .house-number {
    font-size: 4.5rem;
}

.adress .duo-a .house-number label {
    cursor: pointer;
}

.adress .duo-a .house-number input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Street ===*/
.adress .duo-b .street {
    font-size: 4.5rem;
}

.adress .duo-b .street label {
    cursor: pointer;
}

.adress .duo-b .street input {
    height: 5.113px;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Neighborhood ===*/
.adress .duo-b .ngbhd {
    font-size: 4.5rem;
}

.adress .duo-b .ngbhd label {
    cursor: pointer;
}

.adress .duo-b .ngbhd input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== City ===*/
.adress .duo-c .city {
    font-size: 4.5rem;
}

.adress .duo-c .city label {
    cursor: pointer;
}

.adress .duo-c .city input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== State ===*/

.adress .duo-c .state {
    font-size: 4.5rem;
}

.adress .duo-c .state label {
    cursor: pointer;
}

.adress .duo-c .state input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Complement ===*/
.adress .complement {
    width: 98rem;
    height: auto;
    margin-top: 0.893rem;
    font-size: 4.5rem;

    display: flex;
    /* current flex-direction */
    flex-direction: column;
}

.adress .complement label {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.adress .complement input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Church's data ===*/

/* Church's data fieldset */
.churchs-data {
    width: 105rem;
    height: auto;
    border: none;
    margin-bottom: 8.459rem;

    display: flex;
    flex-direction: column;
    /*Eixo transversal*/
    align-items: center;

    gap: 1rem;
}

/* Título do fieldset */
.legend-4 {
    margin: 0 0 0 3rem;

    font-size: 7rem;
    font-weight: bold;
}

/*=== Div's general settings ===*/
.churchs-data div {
    width: 98rem;

    display: flex;
    /* currennt main-axis */
    flex-direction: column;
}

/*=== Nome da Igreja ===*/
.churchs-data .churchs-name {
    font-size: 4.5rem;
}

.churchs-data .churchs-name label {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.churchs-data .churchs-name input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Cidade ===*/
.churchs-data .churchs-city {
    font-size: 4.5rem;
}

.churchs-data .churchs-city label {
    cursor: pointer;
}

.churchs-data .churchs-city input {
    height: 5.113px;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem; 
}

/*=== Local leader ===*/
.churchs-data .local-leader {
    font-size: 4.5rem;
}

.churchs-data .local-leader label {
    cursor: pointer;
}

.churchs-data .local-leader input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Button CONTINUAR ===*/

.submit-button button {
    width: 98rem;
    height: 5.113rem;
    border: none;
    border-radius: 2.5rem;

    background-color: #1E3A5F;
    color: white;
    font-size: 4.8rem;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    /* current main-axis */
    flex-direction: row;
    /*Eixo principal*/
    justify-content: center;
    /*Eixo transversal*/
    align-items: center;
}

.submit-button button:hover {
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #DA1F81;
}

/*=== Footer ===*/ 
.footer {
    height: 10rem;
    border-top: 1px solid black;
    margin-top: 5rem;

    background-color: #DA1F81;
    color: white;
    font-size: 3rem;

    display: flex;
    /* current main-axis */
    flex-direction: row;
    /*Eixo principal*/
    justify-content: space-around;
    /*Eixo transversal*/
    align-items: center;
}




/* Media query - mobile - smartphone
@media screen and (max-width: 480px) {
    .cabecalho {
         Box model
        width: 100%;
        height: auto;

        Fonte
        font-size: 10px;
    }
} */