/*=== General CSS reset ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*=== REM reference ===*/
html {
    font-size: 62.5%;
}

/*=== Body ===*/
body {
    width: 100%;
    background-color: #340a29;
}

/*=== Header ===*/
.header {
    width: 100%;

    padding-bottom: 1rem;

    font-size: 5rem;
}

/*=== Formulary ===*/
.formulary {
    width: 115rem;
    height: auto;
    border-radius: 25px;
    margin: 5rem 18rem 0 18rem;
}

/* =================================================== */

/*=== General centralization styles ===*/
.centralizer-containers {
    display: flex;
    /* current main-axis */
    flex-direction: column;
    /* cross-axis */
    align-items: center;
}

/*=== General color styles ===*/
.default-colors {
    background-color: #DA1F81;
    color: #FCF0F9;
}

/*=== General input container styles ===*/
.input-container {
    width: 98rem;
    height: auto;

    margin-top: 1.5rem;

    display: flex;
    /* current main-axis */
    flex-direction: column;
}

/*=== Fieldset general styles ===*/
fieldset {
    width: 105rem;
    height: auto;

    border: none;
    margin-bottom: 5.282rem;
}

.churchs-data {
    margin-bottom: 0;
}

.personal-data {
    margin-top: 3rem;
}

.legends {
    margin-left: 3rem;
    font-size: 7rem;
    font-weight: bold;
}

label {
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

input {
    height: 5.113rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 25px;
    border: none;

    font-size: 3.2rem;
}

/* =================================================== */

/*=== Adress ===*/

/* Duos */
.duos {
    width: 98rem;
    height: auto;

    margin-top: 0.8rem;

    display: flex;
    /* current main-axis */
    flex-direction: row;
    /* main-axis */
    justify-content: center;
    gap: 1.104rem;
}

/* Local (Adress) input containers */

.adress .duos .local-input-containers {
    margin: 0.5rem;

    width: 49rem;

    display: flex;
    /* current main-axis */
    flex-direction: column;
}

.local-input {
    height: 5.113rem;
    padding: 0 0 0 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 3.2rem;
}

/*=== Button CONTINUAR ===*/

.submit-button button {
    width: 98rem;
    height: 5.113rem;
    border: none;
    border-radius: 2.5rem;
    margin: 5rem 0;

    background-color: #1E3A5F;
    color: white;
    font-size: 4.8rem;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    /* current main-axis */
    flex-direction: row;
    /* main-axis */
    justify-content: center;
    /* cross-axis */
    align-items: center;
}

.submit-button button:hover {
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #DA1F81;
}

/*=== Footer ===*/
.footer {
    height: 10rem;
    /* border-top: 1px solid black; */
    margin-top: 5rem;

    background-color: #DA1F81;
    color: white;
    font-size: 3rem;

    display: flex;
    /* current main-axis */
    flex-direction: row;
    /*Eixo principal*/
    justify-content: space-around;
    /*Eixo transversal*/
    align-items: center;
}

/*=== MEDIA QUERY ===*/
/* Media query - mobile - smartphone  */
@media screen and (max-width: 480px) {

    /*=== Header ===*/
    .header {
        width: 100%;

        padding-bottom: 0.5rem;

        font-size: 2rem;
    }

    .registration-form {
        width: 35rem;
    }

    /*=== Formulary ===*/
    .formulary {
        width: 35rem;
        margin-top: 2.5rem;
    }

    /* =================================================== */

    /*=== Fieldset general styles ===*/
    fieldset {
        /* background-color: blue; */
        width: 30rem;

        padding: 5px;
        margin-bottom: 1rem;
    }

    .legends {
        margin-left: 0rem;
        font-size: 2.5rem;
        font-weight: bold;
    }

    /*=== General input container styles ===*/
    .input-container {
        width: 30rem;
        height: auto;

        margin-top: 0.5rem;
    }

    label {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    input {
        height: 2.556rem;
        padding: 1.5rem 0 1.5rem 1.5rem;
        border-radius: 25px;
        border: none;

        font-size: 1.6rem;
    }

    .personal-data {
        margin-top: 2.5rem;
        font-size: 3rem;
    }

    .churchs-data {
        margin-bottom: 0;
    }

    .churchs-legend {
        font-size: 2.5rem;
    }

    /* =================================================== */

    /*=== Adress ===*/

    /* Duos */
    .duos {
        width: 30rem;
        height: auto;

        margin-top: 0.8rem;

        display: flex;
        /* current main-axis */
        flex-direction: column;
        /* main-axis */
        justify-content: center;
        /* cross-axis */
        align-items: center;
        gap: 0.5rem;
    }

    /* Local (Adress) input containers */

    .adress .duos .local-input-containers {
        width: 29rem;

        margin: 0rem;
    }

    .local-input {
        height: 2.556rem;
        padding: 0 0 0 1.5rem;
        border: none;
        border-radius: 25px;
        font-size: 1.6rem;
    }

    /*=== Button CONTINUAR ===*/

    .submit-button button {
        width: 30rem;
        height: 3rem;
        border: none;
        border-radius: 2.5rem;
        margin: 3rem 0;

        font-size: 2rem;
    }

    /*=== Footer ===*/
    .footer {
        width: 100%;

        margin-top: 2.5rem;

        font-size: 1rem;
    }
}